<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <title>Junseok's page_e</title>
    </head>
    <body>
        <img src="static/images/KakaoTalk_20221017_134803938.jpg">
        <br>
        <img src="static/images/KakaoTalk_20221017_134803938_01.jpg">
        <br>
        <img src="static/images/KakaoTalk_20221017_134803938_02.jpg">
        <br>
        <img src="static/images/KakaoTalk_20221017_134803938_03.jpg">
        <br>
        <img src="static/images/KakaoTalk_20221017_134803938_04.jpg">
        <br>
        <img src="static/images/KakaoTalk_20221017_134803938_05.jpg">
        <br>
        <img src="static/images/KakaoTalk_20221017_134803938_06.jpg">
        <br>
        <img src="static/images/KakaoTalk_20221017_134803938_07.jpg">
        <br>
        <img src="static/images/KakaoTalk_20221017_134803938_08.jpg">
    </body>
</html>