{% extends "parents.html" %}

{% block title %}
<h1>상품 검색 결과</h1>
{% endblock %}

{% block body %}
<form action="/searchResult" target="myi">
    
    <div class="input-group mb-3">
        <div class="input-group-prepend">
          <span class="input-group-text" id="basic-addon1">제품명</span>
        </div>
        <input type="text" class="form-control" placeholder="수량을 검색할 제품명을 입력하세요" name="name">
    </div>
    <div class="mb-3">
        <button class="btn btn-primary btn-lg buttons">검색</button>
    </div>
</form>

<iframe name="myi" width="100%" height=300 frameborder="0">
</iframe>

{% endblock %}