{% extends "parents.html" %}
{% block body %}
<div class="col-sm-12"><br><br>
    <h1>자유 게시판에 오신것을 환영합니다!</h1><br><br>
    <ul class="list-group list-group-flush">
        <li class="list-group-item"> 서울시에 대한 궁금사항, 불편내용, 신고, 제안, 건의 등은 전자민원과 시민제안 통합사이트인
전자민원 응답소 홈페이지에서 모두 통합되어 운영됩니다. 답변을 받으시려면 응답소 홈페이지에 민원신청을 해 주세요.</li>
        <li class="list-group-item"> 상업성광고, 저속한표현, 특정인에 대한 비방, 정치적목적이나 성향, 반복적 게시물 등은 관리자에 의해 통보없이 삭제될수 있습니다. 또한, 홈페이지를 통하여 불법유해 정보를 게시하거나 배포하면 정보통신망 이용촉진 및 정보보호 등에 관한 법률 제74조에 의거
1년이하의 징역 또는 1천만원 이하의 벌금에 처해질수 있습니다.</li>
    </ul><br><br>
    <div class="text-center">
        <img src="static/images/ether.png" height="75%" width="75%">
    </div>
</div>
{% endblock %}