{% extends "podowon_template.html" %}

{% block body %}
<div class="col-sm-12">
    <div class="sub_title">
        <h2>구성원 소개</h2>
    </div>  
    <br>
    <div class="row">
         <div class="col-sm-4 text-center card">
          <h5 class="member_name card-body">천현민(팀장)</h5>
          <div class="member_img card-body">
              <img src="static/images/members/cheon.jpg" class="rounded-circle" alt="Cinque Terre" height="100%" width="100%">
          </div>
             
          <div class="member_discription card-body">
<pre> 안녕하세요, 수학천재 천현민입니다</pre>
          </div>
      </div>
    
      <div class="col-sm-4 text-center card">
          <h5 class="card-body member_name">노혜진(부팀장)</h5>
          <div class="member_img card-body"><img src="static/images/members/no.jpg" class="rounded-circle" alt="Cinque Terre" height="100%" width="100%"></div>
          <div class="member_discription card-body">
<pre> 안녕하세요, 목소리큰 노혜진입니다</pre>
          </div>
      </div>
        
      <div class="col-sm-4 text-center card">
          <h5 class="member_name card-body">김하림(신학자)</h5>
          <div class="member_img card-body"><img src="static/images/members/kim.jpg" class="rounded-circle" alt="Cinque Terre" height="100%" width="100%"></div>
          <div class="member_discription card-body">
<pre> 안녕하세요, 신학자 김하림입니다</pre>
          </div>
      </div>
        
      <div class="col-sm-4 text-center card">
          <h5 class="member_name card-body">주석우(재간둥이)</h5>
          <div class="member_img card-body"><img src="static/images/members/joo.jpg" class="rounded-circle" alt="Cinque Terre" height="100%" width="100%"></div>
          <div class="member_discription card-body">
<pre> 안녕하세요, 재간둥이 주석우입니다.
내년 일탈 예정입니다 </pre>
          </div>
      </div>
        
     <div class="col-sm-4 text-center card">
          <h5 class="member_name card-body">심준석</h5>
          <div class="member_img card-body"><img src="static/images/members/me.jpg" class="rounded-circle" alt="Cinque Terre" height="100%" width="100%"></div>
                    <div class="member_discription card-body">
<pre> 안녕하세요, 심준석 입니다</pre>
      </div>
    </div>
     
{% endblock %}