{% extends "podowon_template.html" %}

{% block body %}
<div class="col-sm-12">
    <div class="sub_title">
        <h2>오늘의 나눔</h2>
    </div>  
      <h5>22.10.18 노혜진 자매</h5>
      <div class="fakeimg">
          <img src="static/images/cross.jpg" height="100%" width="100%">
      </div>
      <pre class="contents">2022-10-18-화요일
전도서 8:9-17 악인과 의인

1. 본문에서 하나님은 나에게(개인적으로) 어떠하신 분이십니까?(중심 내용)
하나님은 선과 악의 모든 기준이 되신다.
미련하고 어리석음으로 눈에 보이는 것이 전부인 것처럼 살던 내게 말씀으로 가르치시고 어떤 인생도 피할수 없는 죽음을 통하여서, 내가 붙잡아야 할 한 분되심을 깨우치신다.
 
2. 오늘 본문은 하나님께서 어떤 마음을 가지고  나에게 이 말씀을 주셨나요?(하나님의 심정)
죽음 앞에서 모든 것이 헛되다. 머리로는 알면서도 여전히 헛되지 않은 것처럼, 이 땅의 것이 내게 전부인 것처럼 작은 일에도 전전긍긍하는 나를 불쌍히여기신다.

3. 내가 하나님을 의지하지 못했던 부분에서 믿음으로 하나님께 나아갈 때 하나님은 나에게 어떻게 다가오시는 분이신가요?
이 땅에서 하나님의 영광을 위해 살아가겠다 결단했던 마음이 어느샌가 나의 욕심이 되어버린 것을 보게 하신다. 하나님께 묻고 구하며 기도했던 나의 미래와 계획은, 내 욕심으로 하나님께 묻지 않아도 결정할 수 있었고, 하나님이 원하시는 것이 아닌 내가 해야할 것 같은 일을 선택하려했다. 
내 삶 속에서 모호해져버린 선과 악, 깨어있지 못하여 분별할 수 없던 내게 다른 날들과 같이, 오늘도 찾아와주셨다. 나의 어떠함에 집중하지 않고 살아계신 하나님 한분만을 의지하고 믿음으로 나아갈 때, 나의 길과 진리, 생명이 되어주셔서, 하나님과 영원까지 동행하는 참 아름다운 인생이 되게 하신다.
 
4. 본문을 통해 현재 나의 모습과, 내가 현재의 모습에서 예수 그리스도 십자가 보혈로 회개할 부분
①생각: 내 눈에 보이는대로 의인과 악인의 기준을 만들어놓고 판단하고, 그 끝이 다름을 알면서도, 그 모든 주권이 하나님께 있음을 알면서도, 악인이 형통하며 의인이 곤고한 삶을 살아감을 이해하지 못했던 세상과 다를 바 없던 마음을 예수그리스도의 십자가보혈로 회개합니다.
② 말: 하나님이 원하는 것, 하나님의 뜻을 따르는 것처럼 말을 했지만 진정 내 속에는 나를 위한 생각과 마음으로 가득 차있었던 것을 예수그리스도의 십자가 보혈로 회개합니다.
③ 행동: 하나님의 임재가 필요함을 앎에도 그 자리까지 나아가지 못했던 것, 예수 그리스도의 십자가 보혈로 회개합니다.

5. 내가 현재의 옛속성을 새 속성으로 어떻게 변화되어야 하는가?(성령의 역사)

① 생각 : 매일 말씀을 묵상함으로, 살아계신 하나님을 느끼고 이 땅에서 일어나는 모든 일들이 하나님의 섭리이며 하나님의 일하심임을 기억하는 날들이 되도록 성령하나님의 도우심을 구합니다.
② 말 : 말로만 하나님께 아름다운 것, 드리는 것 아니라 말과 일치된 삶으로 하나님의 마음에 기쁨이 되는 인생이 되도록 성령하나님의 은혜를 구합니다.
③ 행동 : 내가 좋아하는 일들, 해야할 일들 너무나 많아 하루 시간이 빠듯하여 부족하지만, 하나님 앞에 나아가는 시간을 정하여 그 어느 것과도 타협하지 않고 하나님을 만날 수 있도록 성령하나님의 은혜 위에 은혜를 부어주세요.

6. 오늘 본문을 통해 구체적인 결단의 삶(6하원칙) - 가정에서/직장, 학업생활/신앙생활)
일찍 자고 일찍 일어나는 일상의 변화, 6시30분-7시/ 11시-11시30분 말씀,기도
하나님과의 시간을 사모함으로 첫시간과 마지막 시간을 드릴 때, 나를 만나주시고 말씀해주시는 그 음성들으며 살아가길 원합니다.

7. 본문에서 찾을 수 있는 기쁨/ 복/감사 는 무엇인가요?(과거,  현재,  미래)
-말씀을 묵상하며 오늘도, 결단할 수 있음에 감사합니다. 이젠 정말 지킬 수 있도록,,, 성령님 도와주세요.
-엄마가 정성껏 싸준 도시락 먹으며 행복하게 아침을 시작할 수 있게해주셔서 감사합니다.
-할머니와 가까이에 있으면서 원할 때마다 뵙고 함께 할 수 있는 시간을 허락하시니 감사합니다.
- 불평도 헛되다 말씀하시고 주신 하루를 시작하면서 감사와 기쁨으로 순간을 누리는 인생이 되게 하시니 감사합니다.
-함께 할 수 있는 사랑하는 사람들 보내주셔서 감사합니다.</pre>
      {% endblock %}
</div>