<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <title>Junseok's page_a</title>
    </head>
    <body>
        <form action="/form1result" target="myi">
            <label>이름 : </label>
            <input type="text" required name="myname" value="이름"> <br>
            <br>
            <label>나이 : </label>
            <input type="number" required min="1" max="150" step="1" name="myage"><br>
            <br>
            <label>생일 : </label>
            <input type="date" name="mybirth"><br><br>
            <button>
                확인
            </button>
        </form>
        <iframe name="myi" width="100%" height=300 frameborder="0">
        </iframe>
    </body>
</html>