{% extends "btemp.html" %}

{% block body %}

    <div class="col-sm-4">
        <h1>Thailand!</h1>
    </div>
    
    <div class="col-sm-8">
        <h1>태국여행 추천영상</h1>
        <div class="embed-responsive embed-responsive-16by9">
        <iframe width="1903" height="800" src="https://www.youtube.com/embed/F2utz6L76D0" title="방콕 풀코스, 동남아 안 가본 곽튜브와 함께【쇼트트립】" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
        </div>
    </div>

{% endblock %}

{% block footer %}
    <div class="jumbotron text-center" style="margin-bottom:0">
      <p>태국 여행 Footer</p>
    </div>

{% endblock %}