
<!-- <div class="container">
    <form action="/insertResult" target="myi">
        <label>제품명:</label>
        <input type="text" name="pname"><br>
        <label>수량:</label>
        <input type="number" name="pnum"><br>
        <label>생산일:</label>
        <input type="date" name="pdate"><br>
        <button>입력</button>
    </form>
    <iframe name="myi" width="100%" height="300" frameborder="0"></iframe>
</div>
 -->

<form action="/insertResult" target="myi">
    <div class="form-group">
      <label for="text">제품명:</label>
      <input type="text" class="form-control" id="text"  name="pname">
    </div>
    <div class="form-group">
      <label for="number">수량:</label>
      <input type="number" class="form-control" id="number"  name="pnum">
    </div>
    <div class="form-group">
      <label for="date">생산일:</label>
      <input type="date" class="form-control" id="date"  name="pdate">
    </div>
    <button type="submit" class="btn btn-primary">입력</button>
</form>
<iframe name="myi" width="100%" height="100" frameborder="0"></iframe>



