
<!-- <div class="container">
    <form action="/searchResultPool" target="myi">
        <label>제품명:</label>
        <input type="text" name="sname"><br>
        <button>검색</button>
    </form>
    <br>
    <iframe name="myi" width="100%" height="100" frameborder="0"></iframe>
</div> -->

<!-- <form action="/searchResultPool" target="myi">

    <div class="form-group">
      <label for="text">제품명:</label>
      <input type="text" class="form-control" id="text"  name="sname">
    </div>

    <button type="submit" class="btn btn-primary">검색</button>
</form>
<iframe name="myi" width="100%" height="800" frameborder="0"></iframe> -->

<div>
  <label for="text">제품명:</label>
  <input type="text" class="form-control" id="sname">
</div>
<br>
<button onclick="callAjax3()" class="btn btn-primary">검색</button>
<br>
